/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#op{
	-fx-background-color:"skyblue";
}

.button{
	-fx-background-radius: 25;
}
.button:hover{
	-fx-background-color: #00aeed;
	-fx-text-fill: white;
}

#classHolder{
	-fx-border-color:black;
}

#methodHolder{
	-fx-border-color:black;
}